@use "../mixins";

.yamori-button {
  @include mixins.yamori-font-body(medium, bold);

  align-items: center;
  box-sizing: border-box;
  border: none;
  column-gap: var(--yamori-spacing-small);
  display: flex;
  justify-content: center;
  padding: var(--yamori-spacing-medium) var(--yamori-spacing-large);

  &[hidden] {
    display: none;
  }

  &:enabled {
    cursor: pointer;
  }

  &,
  &:focus-visible {
    border-radius: var(--yamori-border-radius-medium);
  }

  &--primary,
  &--icon {
    background-color: var(--yamori-surface-action);
    color: var(--yamori-text-on-action);

    &:enabled {
      &:hover {
        background-color: var(--yamori-surface-action-hover);
      }

      &:active {
        background-color: var(--yamori-surface-action-active);
      }
    }

    &:disabled {
      background-color: var(--yamori-surface-action-disabled);
    }
  }

  &--secondary {
    background-color: var(--yamori-surface-secondary-action);
    color: var(--yamori-text-on-secondary-action);

    &:enabled {
      &:hover {
        color: var(--yamori-text-on-secondary-action-hover);
      }

      &:active {
        color: var(--yamori-text-on-secondary-action-active);
      }
    }

    &:disabled {
      color: var(--yamori-text-on-secondary-action-disabled);
    }
  }

  &--text {
    padding: 0;
    background-color: transparent;
    color: var(--yamori-text-action);

    &:enabled {
      &:hover {
        color: var(--yamori-text-action-hover);
      }

      &:active {
        color: var(--yamori-text-action-active);
      }
    }

    &:disabled {
      color: var(--yamori-text-action-disabled);
    }
  }

  &--icon {
    padding: var(--yamori-spacing-medium);
  }
}
