@use "../mixins";

.yamori-card {
  align-items: flex-start;
  border-radius: var(--yamori-border-radius-medium);
  border: var(--yamori-border-width-small) solid var(--yamori-border-primary);
  column-gap: var(--yamori-spacing-large);
  display: flex;
  padding: var(--yamori-spacing-medium);

  &[hidden] {
    display: none;
  }

  &__image {
    flex: 1;
    min-width: 0;
  }

  &__section {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: fit-content;
    min-width: 0;
    row-gap: var(--yamori-spacing-medium);
  }

  &--clickable {
    cursor: pointer;

    &:hover,
    &:focus-within {
      box-shadow: var(--yamori-shadow-drop-small);
    }

    &:active {
      box-shadow: var(--yamori-shadow-inner-small);
    }
  }
}
