.yamori-details {
  border: var(--yamori-border-width-small) solid var(--yamori-border-primary);
  border-radius: var(--yamori-border-radius-small);
  position: relative;

  &__content {
    padding: var(--yamori-spacing-large);
  }

  &__summary {
    align-items: center;
    background-color: var(--yamori-surface-primary);
    color: var(--yamori-text-action);
    cursor: pointer;
    display: flex;
    gap: var(--yamori-spacing-medium);
    padding: var(--yamori-spacing-medium) var(--yamori-spacing-large);
    position: sticky;
    top: calc(-1 * var(--yamori-border-width-small));

    &:hover {
      color: var(--yamori-text-action-hover);
    }

    &:active {
      color: var(--yamori-text-action-active);
    }

    &:focus-visible {
      outline-offset: 0;
    }
  }

  &:not([open]) &__arrow {
    transform: rotate(-90deg);
  }

  &[open] &__summary {
    border-bottom: var(--yamori-border-width-small) solid
      var(--yamori-border-primary);
  }
}
