@use "../mixins";

.yamori-link {
  @include mixins.yamori-font-body(inherit);

  align-items: center;
  color: var(--yamori-text-action);
  column-gap: var(--yamori-spacing-small);
  cursor: pointer;
  display: inline-flex;

  &[hidden] {
    display: none;
  }

  &:not(:hover) {
    @include mixins.yamori-font-body(inherit, link);
  }

  &:hover {
    color: var(--yamori-text-action-hover);
  }

  &:visited,
  &:active {
    color: var(--yamori-text-action-active);
  }
}
