.yamori-list {
  margin: var(--yamori-spacing-large) 0;
  padding: 0;

  & & {
    margin: var(--yamori-spacing-medium) 0;
    padding-left: var(--yamori-spacing-large);
  }

  .yamori-list-item {
    display: block;

    &__label {
      display: flex;
      column-gap: var(--yamori-spacing-medium);
    }
  }
}
