.yamori-loading {
  display: inline-flex;
  align-items: center;

  svg {
    margin-right: var(--yamori-spacing-small);
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &::after {
    overflow: hidden;
    animation-name: dots;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: steps(4, end);
    animation-iteration-count: infinite;
    content: "...";
    width: 1em;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dots {
  from {
    width: 0;
  }
  to {
    width: 1em;
  }
}
