@use "../mixins";

.yamori-multi-select {
  @include mixins.yamori-font-body(medium);

  align-items: center;
  background-color: var(--yamori-surface-primary);
  box-sizing: border-box;
  border: var(--yamori-border-width-small) solid var(--yamori-border-primary);
  border-radius: var(--yamori-border-radius-medium);
  color: var(--yamori-text-primary);
  column-gap: var(--yamori-spacing-small);
  display: flex;
  padding: var(--yamori-spacing-medium);

  &:has(.yamori-multi-select-chip) {
    padding: var(--yamori-spacing-small) var(--yamori-spacing-medium);
  }

  svg:last-child {
    margin-left: auto;
  }

  &:enabled {
    cursor: pointer;

    &:hover {
      border-color: var(--yamori-border-hover);
    }
  }

  &:disabled {
    background-color: var(--yamori-surface-primary-disabled);
    color: var(--yamori-text-disabled);
  }

  &__placeholder {
    color: var(--yamori-text-disabled);
  }

  &__value {
    display: flex;
    flex-grow: 1;
    min-width: 0;
    column-gap: var(--yamori-spacing-small);
    align-items: flex-end;
    overflow: hidden;
  }

  &:focus-visible {
    outline-offset: 0;
    border-color: transparent;
    border-radius: var(--yamori-border-radius-medium);
  }

  &__dropdown {
    background-color: var(--yamori-surface-primary);
    box-sizing: border-box;
    box-shadow: var(--yamori-shadow-drop-small);
    border: var(--yamori-border-width-small) solid var(--yamori-border-primary);
    border-radius: var(--yamori-border-radius-medium);
    list-style: none;
    margin: 0;
    padding: var(--yamori-spacing-x-small) 0;
    position: relative;

    .yamori-multi-select-option {
      @include mixins.yamori-font-body(medium);

      align-items: center;
      background-color: var(--yamori-surface-primary);
      border: none;
      border-bottom: var(--yamori-border-width-small) solid
        var(--yamori-border-primary);
      box-sizing: border-box;
      color: var(--yamori-text-primary);
      column-gap: var(--yamori-spacing-small);
      display: flex;
      padding: var(--yamori-spacing-medium);
      width: 100%;

      &:enabled {
        cursor: pointer;

        &:hover {
          background-color: var(--yamori-surface-action-hover-2);
          color: var(--yamori-text-on-action);
        }
      }

      &:disabled {
        background-color: var(--yamori-surface-primary-disabled);
        color: var(--yamori-text-disabled);
      }

      &:focus-visible {
        border-bottom-color: transparent;
        outline-offset: 0;
      }

      &--selected {
        background-color: var(--yamori-surface-secondary-action);
        color: var(--yamori-text-on-secondary-action);

        &:enabled {
          &:hover {
            background-color: var(--yamori-surface-secondary-action);
            color: var(--yamori-text-on-secondary-action-hover);
          }
        }
      }
    }

    li:first-child {
      top: 0;
      position: sticky;
    }
    li:last-child .yamori-select-option {
      border-bottom: unset;
    }
  }

  .yamori-multi-select-chip {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    column-gap: var(--yamori-spacing-small);
    padding: var(--yamori-spacing-small) var(--yamori-spacing-medium);
    background-color: var(--yamori-surface-action);
    color: var(--yamori-text-on-action);
    border-radius: var(--yamori-border-radius-large);

    &--disabled {
      background-color: var(--yamori-surface-action-disabled);
    }
  }
}
