@use "../mixins";

.yamori-navigation-bar {
  align-items: center;
  background-color: var(--yamori-surface-page);
  border-bottom: var(--yamori-border-width-small) solid
    var(--yamori-border-primary);
  column-gap: var(--yamori-spacing-medium);
  display: flex;
  position: relative;
  padding: var(--yamori-spacing-large);

  &__links-container {
    flex: 1;
    min-width: 0;
  }

  &__links {
    box-sizing: border-box;
    align-items: center;
    gap: var(--yamori-spacing-medium);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    > a {
      flex-shrink: 0;
    }
  }

  &__controls {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    gap: var(--yamori-spacing-medium);
    justify-content: flex-end;

    a img.github {
      width: 1.5rem;
    }
  }

  &:has(&__dialog[open]) {
    border: none;
  }

  &__dialog[open] {
    background-color: var(--yamori-surface-page);
    border: none;
    border-bottom: var(--yamori-border-width-small) solid
      var(--yamori-border-primary);
    color: inherit;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: calc(100dvh - 100%);
    padding: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
  }

  &__dialog &__links {
    align-items: flex-end;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--yamori-spacing-large);
  }

  &__dialog &__controls {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 var(--yamori-spacing-large);
    padding-bottom: var(--yamori-spacing-large);
  }
}

@include mixins.within-yamori-theme(dark) {
  .yamori-navigation-bar__controls a img.github {
    filter: invert(1);
  }
}
