@use "../mixins";

.yamori-table {
  border-collapse: collapse;

  &,
  thead th,
  tbody td {
    border: var(--yamori-border-width-small) solid var(--yamori-border-primary);
  }

  thead th,
  tbody td {
    padding: var(--yamori-spacing-medium);
  }

  thead {
    background-color: var(--yamori-surface-secondary);

    th {
      @include mixins.yamori-font-body(medium, bold);
    }
  }

  tbody td {
    text-align: left;

    &[data-align="center"] {
      text-align: center;
    }
    &[data-align="right"] {
      text-align: right;
    }
  }
}
