@use "foundations" as *;
@use "mixins";

@include mixins.within-yamori-theme(light) {
  @include mixins.yamori-theme-light;
}

@include mixins.within-yamori-theme(dark) {
  @include mixins.yamori-theme-dark;
}

:root {
  --yamori-border-radius-small: #{$scale-50};
  --yamori-border-radius-medium: #{$scale-100};
  --yamori-border-radius-large: #{$scale-200};

  --yamori-border-width-small: #{$scale-25};
  --yamori-border-width-medium: #{$scale-50};
  --yamori-border-width-large: #{$scale-100};

  --yamori-shadow-drop-small: 1px 2px 4px 0
    color-mix(in srgb, var(--yamori-theme-neutral-darkest) 25%, transparent);
  --yamori-shadow-inner-small: inset 1px 2px 4px 0
    color-mix(in srgb, var(--yamori-theme-neutral-darkest) 25%, transparent);

  --yamori-spacing-x-small: #{$scale-50};
  --yamori-spacing-small: #{$scale-100};
  --yamori-spacing-medium: #{$scale-200};
  --yamori-spacing-large: #{$scale-400};
  --yamori-spacing-x-large: #{$scale-1000};

  --yamori-text-heading: var(--yamori-theme-neutral-darkest);
  --yamori-text-body: var(--yamori-theme-neutral-dark);
  --yamori-text-disabled: var(--yamori-theme-neutral);
  --yamori-text-action: var(--yamori-theme-primary);
  --yamori-text-action-disabled: var(--yamori-theme-primary-lighter);
  --yamori-text-action-hover: var(--yamori-theme-primary-dark);
  --yamori-text-action-active: var(--yamori-theme-primary-darker);
  --yamori-text-on-action: var(--yamori-theme-neutral-lightest);
  --yamori-text-on-secondary-action: var(--yamori-theme-primary);
  --yamori-text-on-secondary-action-disabled: var(--yamori-theme-primary-light);
  --yamori-text-on-secondary-action-hover: var(--yamori-theme-primary-dark);
  --yamori-text-on-secondary-action-active: var(--yamori-theme-primary-darker);

  --yamori-surface-page: var(--yamori-theme-neutral-lightest);
  --yamori-surface-primary: var(--yamori-theme-neutral-lightest);
  --yamori-surface-primary-2: var(--yamori-theme-neutral);
  --yamori-surface-primary-disabled: var(--yamori-theme-neutral-lighter);
  --yamori-surface-secondary: var(--yamori-theme-primary-lighter);
  --yamori-surface-action: var(--yamori-theme-primary);
  --yamori-surface-action-disabled: var(--yamori-theme-primary-lighter);
  --yamori-surface-action-hover: var(--yamori-theme-primary-dark);
  --yamori-surface-action-hover-2: var(--yamori-theme-primary-light);
  --yamori-surface-action-active: var(--yamori-theme-primary-darker);
  --yamori-surface-secondary-action: var(--yamori-theme-primary-lighter);

  --yamori-border-focus: var(--yamori-theme-primary-darker);
  --yamori-border-primary: var(--yamori-theme-neutral);
  --yamori-border-disabled: var(--yamori-theme-neutral-light);
  --yamori-border-hover: var(--yamori-theme-primary);
  --yamori-border-active: var(--yamori-theme-primary-dark);
  --yamori-border-action: var(--yamori-theme-primary);
  --yamori-border-action-disabled: var(--yamori-theme-primary-lighter);
  --yamori-border-action-hover: var(--yamori-theme-primary-dark);
  --yamori-border-action-active: var(--yamori-theme-primary-darker);

  color-scheme: light dark;
  font-family: Inter, sans-serif;

  :focus-visible {
    @include mixins.yamori-focus-visible-outline;

    border-radius: var(--yamori-border-radius-small);
  }

  ::selection {
    background-color: var(--yamori-theme-primary-darker);
    color: var(--yamori-theme-neutral-lightest);
  }

  body {
    @include mixins.yamori-font-body;

    background-color: var(--yamori-surface-page);
    color: var(--yamori-text-body);

    @each $heading in h1, h2, h3, h4, h5, h6 {
      #{$heading} {
        @include mixins.yamori-font-heading($heading);

        color: var(--yamori-text-heading);
        margin: unset;
      }
    }

    b {
      font-weight: #{$font-weight-semibold};
    }

    p {
      margin-block: 0;

      & + p {
        margin-block-start: #{$paragraph-spacing};
      }
    }

    svg {
      flex-shrink: 0;
    }
  }
}
